<%= content_for :title, '所有用户' %>

<h1>所有用户</h1>
<ul class="users">
  <%= render @users %>  <!-- 直接将@users传给render后,Rails会从类名中推断出局部视图的名称,并自动遍历这个列表,循环遍历都不用写了! -->
  <%== pagy_bootstrap_nav(@pagy) %>
</ul>
