<%= link_to gravatar_for(current_user, size: 80), current_user %>
<div>
  <p id="name"><%= current_user.name %></p>
  <span class="stats"><%= link_to "微博（#{current_user.microposts.count}）", current_user %></span>
</div>
