<div class="footer">
  <small>
    一个练习<a href="https://rubyonrails.org/"><em>Ruby on Rails</em></a>的简单网页应用
  </small>
  <nav>
    <ul>
      <li><%= link_to "关于", about_path %></li>
      <li><%= link_to "取得联系", contact_path %></li>
      <li><a href="https://news.railstutorial.org/">新闻</a></li>
    </ul>
  </nav>
</div>